*{
  margin: 0;
  padding: 0;
  
}
body{
  margin: 0;
  padding: 0;
}
.flexcol{
  display: flex;
  flex-direction: column;
  
}
.flexrow{
  display: flex;
  flex-direction: row;
  
}

.center{
  align-items: center;
  justify-content: center;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}